// banner

.banner {
  margin-bottom: 35px;
  position: relative;
  &__item {
	min-height: 450px;
	background-position: center;
    // min-height: 930px; desctop full 1920
    background-repeat: no-repeat;
    background-size: cover;
  }
  .arrow-container {
    position: relative;
  }
  .slick-arrow {
    cursor: pointer;
    background-color: rgba(119, 77, 116, 0.5);
    width: 38px;
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    transition: all 0.2s;
    position: absolute;
    top: -300px;
    &:hover {
      background-color: rgba(119, 77, 116, 1);
      transition: all 0.2s;
    }
  }
  &__arrows {
    position: relative;
    width: 100%;
  }
  &-prev {
    left: 0;
  }
  &-next {
    right: 0;
  }
  &__dots {
	  margin-top: 20px;
	  .slick-dots {
		  display: flex;
		  align-items: center;
		  justify-content: center;
		  li {
			button {
				font-size: 0;
				background: transparent;
				border: 1px solid #600060;
				border-radius: 30px;
				width: 120px;
			}
		  }
		  li.slick-active {
			  button {
				border: 2px solid #600060;
			  }
		  }
	  }
	// border: 1px solid #600060;
  }
}


// media queries

@media only screen and (max-width: $lg) {

  .banner__item {
    min-height: 355px;
  }

  .banner .slick-arrow {
    top: -255px;
  }

}


@media only screen and (max-width: $md) {
  .banner__item {
    min-height: 265px;
  }
}


@media only screen and (max-width: $sm) {
  .banner__item {
    min-height: 200px;
  }

  .banner .slick-arrow {
    width: 26px;
    height: 58px;
    top: -160px;
    img {
      max-width: 8px;
    }
  }

  .banner__dots .slick-dots li button {
    width: 60px;
  }

  .banner__dots {
    margin-top: 15px;
  }

}

@media only screen and (max-width: 375px) {
  .banner__item {
    min-height: 170px;
  }

  .banner .slick-arrow {
    top: -135px;
  }

  .banner {
    margin-bottom: 25px;
  }
}

