// competition

.competition {
  margin-top: 60px;
  .competition__box {
    .section__title {
    }

    .competition__wrapper {
      display: flex;

      .competition__column {
        .competition__item {
          max-width: 100%;
          width: 100%;
        }
      }
      .column_right {
        margin-left: 30px;
        max-width: 370px;
        width: 100%;
        flex-shrink: 0;
        .competition__item {
          //   margin-bottom: 59px;
          &-img {
            height: 180px;
            img {
              width: 100%;
              min-height: 180px;
              max-width: 100%;
              display: block;
              height: 100%;
              object-fit: cover;
            }
          }
          .date {
            color: #606060;
            font-size: 24px;
            font-weight: 700;
          }
          .text {
            color: #606060;
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: 700;
            line-height: 21px;
          }
        }
      }
    }

    .competition__bottom {
      padding: 40px;
      padding-top: 40px;
      padding-bottom: 35px;
      display: flex;
      align-items: center;

      .competition__bottom-col {
        max-width: 50%;
        flex: 0 0 50%;
        p {
          color: #600060;
          font-family: "Roboto", sans-serif;
          font-size: 18px;
          line-height: 23px;
          font-weight: 300;
        }
        &_left {
          p {
            font-family: "Roboto", sans-serif;
            color: #606060;
            font-size: 18px;
            line-height: 23px;
            font-weight: 700;
          }
        }
      }
    }
  }

  video {
    height: 485px;
  }
}



// media queries

@media only screen and (max-width: $lg) {

  .competition .container {
    padding: 0;
  }
  

  .competition .competition__box .competition__bottom {
    padding: 0;
  }

  .competition__box {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    .competition__column--lg {
      display: none;
    }
  }

  .competition__title {
    order: -1;
  }

  .competition .competition__box .competition__bottom {
    order: 0;
    flex-direction: column;
  }

  .competition .competition__box .competition__wrapper {
    order: 2;
  }

  .competition .competition__box .competition__bottom .competition__bottom-col {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
  }

  .competition .competition__box .competition__bottom .competition__bottom-col_left p {
    font-size: 16px;
    line-height: 20px;
  }

  .competition .competition__box .competition__bottom .competition__bottom-col p {
    font-size: 16px;
    line-height: 20px;
  }

  .competition .competition__box .competition__wrapper .column_right {
    margin-left: 0;
    max-width: 100%;
    display: flex;
  }

  .competition .competition__box .competition__wrapper .competition__column .competition__item {
    &:first-child {
      padding-right: 10px;
    }
    &:last-child {
      padding-left: 10px;
    }
  }

  .competition .competition__box .competition__wrapper .column_right .competition__item-img {
    margin-bottom: 20px;
  }

  .competition .competition__box .competition__wrapper .column_right .competition__item .date {
    color: #600060;
    margin-bottom: 6px;
  }

  .competition__item {
    margin-bottom: 20px;
  }

}
