// footer

.footer {
  background-color: #12003a;
  padding-top: 35px;
  .footer__top {
    padding-bottom: 40px;
    border-bottom: 2px solid #565656;
    .footer__menu {
      display: flex;
      justify-content: space-between;
      .menu-item-has-children {
        .sub-menu {
          li {
            a {
              color: #98a1a9;
              font-family: "Rubik", sans-serif;
              display: block;
              font-size: 12px;
              font-weight: 400;
              line-height: 16px;
              letter-spacing: 0.11px;
              margin-bottom: 8px;
              transition: all 0.2s;
              &:hover {
                color: #fff;
                transition: all 0.2s;
              }
            }
          }
        }
      }

      a {
        color: #ffffff;
        font-family: "Rubik", sans-serif;
        font-size: 21px;
        font-weight: 400;
        display: block;
        margin-bottom: 18px;
      }
    }
  }

  .footer__bottom {
    padding: 32px 0;
    display: flex;

    .footer__bottom-adress {
      margin-right: 110px;
      p {
        color: #98a1a9;
        font-family: "Rubik", sans-serif;
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        letter-spacing: 0.04px;
        b {
          color: #fff;
          font-family: "Rubik Bold";
        }
      }
    }

    .footer__bottom-questions {
      margin-right: 75px;
      p {
        font-family: "Rubik", sans-serif;
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        letter-spacing: 0.04px;
        margin-bottom: 5px;
      }
    }

    .footer__bottom-socials {
      margin-top: 16px;
      .footer__social {
        margin-right: 30px;

        img {
          max-width: 100%;
          transition: all 0.2s;
          &:hover {
            opacity: 0.7;
            transition: all 0.2s;
          }
        }
      }
    }
  }
}

// media queries

@media only screen and (max-width: $xl) {
  .footer .footer__top .footer__menu a {
    font-size: 18px;
  }
}

.footer__mob-top {
  display: none;
}

@media only screen and (max-width: $lg) {
  .footer .footer__top {
    display: none;
  }

  .footer {
    padding-top: 0;
    padding: 0 60px;
  }

  .footer .footer__bottom .footer__bottom-socials {
    display: none;
  }

  .footer__mob-top {
    display: flex;
  }

  .footer__mob-top {
    padding-top: 32px;
  }

  .footer__mob-language {
    margin-right: 60px;
    ul {
      display: flex;
      align-items: center;
      li {
        a {
          color: #ffffff;
          // font-family: Rubik;
          font-size: 17px;
          font-weight: 400;
          line-height: 1;
          text-transform: uppercase;
          display: block;
          margin-right: 18px;
          padding-left: 6px;
          padding-right: 14px;
        }
        a:not(.active) {
          &:hover {
            text-decoration: underline;
          }
        }
        a.active {
          padding-top: 9px;
          padding-bottom: 9px;
          background: #fff;
          color: #12003a;
        }
      }
    }
  }

  .footer__bottom-socials {
    display: flex;
    align-items: center;
    .footer__social {
      margin-left: 23px;
      display: block;
      transition: all 0.2s;
      &:hover {
        opacity: 0.7;
        transition: all 0.2s;
      }
    }
  }

  .footer .footer__bottom .footer__bottom-questions {
    margin-right: 0;
  }
}


@media only screen and (max-width: $md) {
  .footer {
    padding: 0 25px;
  }

  .footer__mob-top {
    padding-top: 20px;
  }

  .footer__mob-language ul li a {
    font-size: 12px;
    margin-right: 8px;
    padding-left: 6px;
    padding-right: 10px;
  }

  .footer__mob-language ul li a.active {
    padding-top: 7px;
    padding-bottom: 5px;
  }

  .footer__mob-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer__bottom-socials .footer__social {
    margin-left: 17px;
  }

  .footer .footer__bottom {
    padding: 20px 0;
    justify-content: space-between;
    // flex-direction: column;
  }

  .footer .footer__bottom .footer__bottom-adress {
    margin-right: 0;
    margin-bottom: 20px;
    p {
      line-height: 20px;
      b {
          font-family: "Rubik", sans-serif;
      }
    }
  }

  .footer__mob-language {
    margin-right: 0;
  }

  .footer__bottom-socials .footer__social {
    width: 22px;
    img {
      max-width: 100%;
    }
  }


}

@media only screen and (max-width: $sm) {
  .footer {
    padding: 0;
  }

  .footer__mob-top {
    padding-top: 20px;
  }

  .footer__mob-language ul li a {
    font-size: 12px;
    margin-right: 8px;
    padding-left: 6px;
    padding-right: 10px;
  }

  .footer__mob-language ul li a.active {
    padding-top: 7px;
    padding-bottom: 5px;
  }

  .footer__mob-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer__bottom-socials .footer__social {
    margin-left: 17px;
  }

  .footer .footer__bottom {
    padding: 20px 0;
    flex-direction: column;
  }

  .footer .footer__bottom .footer__bottom-adress {
    margin-right: 0;
    margin-bottom: 20px;
    p {
      line-height: 20px;
      b {
          font-family: "Rubik", sans-serif;
      }
    }
  }

  .footer__mob-language {
    margin-right: 0;
  }

  .footer__bottom-socials .footer__social {
    width: 22px;
    img {
      max-width: 100%;
    }
  }


}
