/*style*/

@import "base";
@import "variables";

// partials

@import "header";
@import "footer";

// sections

@import "sections/banner";
@import "sections/about";
@import "sections/competition";
@import "sections/contactForm";
@import "sections/education";
@import "sections/news";
@import "sections/tradingHouse";

// popup

.overlay {
  position: fixed;
  /*  display: none;*/
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

.popup {
  position: absolute;
  left: 50%;
  max-width: 700px;
  width: 100%;
  height: auto;
  box-shadow: 0 3px 20px rgba(0, 0, 1, 0.5);
  background: #fff;
  border-radius: 1px;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  max-height: 100vh;
  overflow: auto;
}

.popup__wrapper {
  .popup__close {
    color: #79004a;
    font-size: 38px;
    font-weight: 400;
    border: 1px solid #600060;
    width: 76px;
    height: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popup__title {
    color: #79004a;
    // font-family: Rubik;
    font-size: 38px;
    font-weight: 400;
    padding-top: 27px;
    padding-bottom: 27px;
  }

  .contacts__form {
    padding-top: 25px;
    input {
    }

    .contacts__form-wrapper {
        display: flex;
        padding: 0 85px;
      .contacts__form-col {
        .contacts__form-title {
          color: #000000;
          font-size: 32px;
          font-weight: 400;
        }

        .checkboxBlock {
          .checkbox {
            input {
            }

            .checkbox__text {
            }

            br {
            }
          }
        }

        textarea {
        }
      }
    }
  }
}

.checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

.checkbox__text {
  display: inline-block;
  position: relative;
  padding: 0 0 0 30px;
  cursor: pointer;
  color: #606060;
  font-family: "Myriad Pro";
  //   font-size: 21px;
  font-weight: 400;
  margin-bottom: 25px;
}

.checkbox__text:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 18px;
  height: 18px;
  display: block;
  background-color: #fff;
  border: 1px solid #cccccc;
}

.checkbox input:checked + .checkbox__text:after {
  display: block;
}

.checkbox__text:after {
  content: "";
  display: none;
  left: 4px;
  -webkit-transform: rotateZ(45deg);
  -ms-transform: rotate(45deg);
  transform: rotateZ(45deg);
  box-sizing: border-box;
  border-right: 3px solid #871a5c;
  border-bottom: 3px solid #871a5c;
  position: absolute;
  top: -1px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  color: #f3f3f3;
  text-align: center;
  line-height: 15px;
  width: 10px;
  height: 18px;
  right: 0;
}
