@import url("https://fonts.googleapis.com/css?family=Open+Sans:700|Roboto:300,700&display=swap");
@charset "UTF-8";

/*style*/

@font-face {
  font-family: "Rubik Bold";
  src: url("../fonts/Rubik-Bold.eot");
  src: local("☺"), url("../fonts/Rubik-Bold.woff") format("woff"), url("../fonts/Rubik-Bold.ttf") format("truetype"), url("fonts/Rubik-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.eot");
  src: local("☺"), url("../fonts/Rubik-Regular.woff") format("woff"), url("fonts/Rubik-Regular.ttf") format("truetype"), url("../fonts/Rubik-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro-Regular.eot");
  src: local("☺"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  display: block;
  background: transparent;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
}

input:focus {
  outline: none;
}

body {
  color: #666666;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section__title {
  padding-top: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #600060;
  font-family: "Roboto", sans-serif;
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 38px;
}

.section__title:before {
  content: "";
  display: inline-block;
  margin-right: 12px;
  width: 57px;
  height: 10px;
  background-color: #600060;
}

.section__text {
  font-size: 18px;
  line-height: 34px;
}

.slick-slide {
  outline: none;
}

.section--grey {
  background: #eff2f0;
}

.sub-menu {
  display: none;
}

video {
  max-width: 100%;
}

.btn {
  padding: 26px 62px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 16px;
  background: transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn:hover {
  background: #fff;
  color: #79004a;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header .container .header__top {
  padding: 33px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .container .header__top .logo__wrapper .logo {
  max-width: 140px;
  width: 100%;
}

.header .container .header__top .logo__wrapper .logo img {
  max-width: 100%;
}

.header .container .header__top .header__btn {
  text-transform: uppercase;
  padding: 28px 63px;
  font-size: 16px;
  color: #710046;
  border: 2px solid #710046;
}

.header .container .header__top .header__controls .header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .container .header__top .header__controls .header__social a {
  margin-left: 20px;
  display: block;
}

.header .container .header__top .header__controls .header__social .js-open-submenu {
  display: block;
  padding: 0;
  margin-left: 57px;
  width: 26px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  height: 18px;
  background: transparent;
}

.header .container .header__top .header__controls .header__social .js-open-submenu span {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  margin-top: 0;
  content: "";
  margin-left: 0;
  display: block;
  width: 26px;
  height: 3px;
  background: #000;
  border-radius: 20px;
  border: none;
}

.header .container .header__top .header__controls .header__social .js-open-submenu span:before {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  content: "";
  display: block;
  width: 26px;
  height: 3px;
  background: #000;
  border-radius: 20px;
  top: -8px;
  left: 0;
  position: absolute;
  border: none;
}

.header .container .header__top .header__controls .header__social .js-open-submenu span:after {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  content: "";
  display: block;
  width: 26px;
  height: 3px;
  background: #000;
  border-radius: 20px;
  top: 8px;
  left: 0;
  position: absolute;
  border: none;
}

.header .container .header__top .header__controls .header__social .js-open-submenu.active span {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header .container .header__top .header__controls .header__social .js-open-submenu.active span:after {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  top: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.header .container .header__top .header__controls .header__social .js-open-submenu.active span:before {
  display: none;
}

.header__submenu-wrapper {
  padding: 30px 0;
  border: 1px solid rgba(154, 155, 155, 0.9);
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__menu li a {
  color: #7e7f7e;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header__menu li a:hover {
  color: #444;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.banner {
  margin-bottom: 60px;
}

.banner__item {
  min-height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutUs {
  padding-top: 40px;
}

.aboutUs .aboutUs__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.aboutUs .aboutUs__wrapper .aboutUs__item {
  max-width: 50%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.aboutUs .aboutUs__wrapper .aboutUs__item:first-child {
  padding-right: 35px;
}

.aboutUs .aboutUs__wrapper .aboutUs__item:first-child h2 {
  color: #600060;
}

.aboutUs .aboutUs__wrapper .aboutUs__item:last-child {
  padding-left: 35px;
}

.aboutUs .aboutUs__wrapper .aboutUs__item:last-child h2 {
  color: #00caaf;
}

.aboutUs .aboutUs__wrapper .aboutUs__item h2 {
  font-size: 68px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 18px;
}

.aboutUs .aboutUs__wrapper .aboutUs__item p {
  color: #606060;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 35px;
}

.competition {
  margin-top: 60px;
}

.competition .competition__box .competition__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.competition .competition__box .competition__wrapper .competition__column .competition__item {
  max-width: 100%;
  width: 100%;
}

.competition .competition__box .competition__wrapper .column_right {
  margin-left: 30px;
  max-width: 370px;
  width: 100%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.competition .competition__box .competition__wrapper .column_right .competition__item-img {
  height: 180px;
}

.competition .competition__box .competition__wrapper .column_right .competition__item-img img {
  width: 100%;
  min-height: 180px;
  max-width: 100%;
  display: block;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.competition .competition__box .competition__wrapper .column_right .competition__item .date {
  color: #606060;
  font-size: 24px;
  font-weight: 700;
}

.competition .competition__box .competition__wrapper .column_right .competition__item .text {
  color: #606060;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}

.competition .competition__box .competition__bottom {
  padding: 40px;
  padding-top: 40px;
  padding-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.competition .competition__box .competition__bottom .competition__bottom-col {
  max-width: 50%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.competition .competition__box .competition__bottom .competition__bottom-col p {
  color: #600060;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 300;
}

.competition .competition__box .competition__bottom .competition__bottom-col_left p {
  font-family: "Roboto", sans-serif;
  color: #606060;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
}

.competition video {
  height: 485px;
}

.contactForm {
  background-color: #79004a;
  margin-top: 40px;
  margin-bottom: 60px;
}

.contactForm .contactForm__box {
  padding: 32px 40px;
}

.contactForm .contactForm__box .contactForm__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contactForm .contactForm__box .contactForm__form .form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contactForm .contactForm__box .contactForm__form .form__inputs .form-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 350px;
  width: 100%;
  margin-right: 35px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.contactForm .contactForm__box .contactForm__form .form__inputs .form-control p {
  color: #ffffff;
  font-family: "Myriad Pro";
  font-size: 16px;
  font-weight: 400;
  margin-right: 11px;
}

.contactForm .contactForm__box .contactForm__form .form__inputs .form-control input {
  height: 42px;
  border: 1px solid #ffffff;
  max-width: 300px;
  background: transparent;
  width: 100%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  color: #fff;
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.news {
  margin-top: 60px;
}

.news .news__box {
  padding-top: 55px;
  padding-bottom: 15px;
}

.news .news__box .news__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.news .news__box .news__wrapper .news__column {
  max-width: calc(50% - 15px);
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(50% - 15px);
  flex: 0 0 calc(50% - 15px);
}

.news .news__box .news__wrapper .news__column:first-child {
  margin-right: 15px;
}

.news .news__box .news__wrapper .news__column:last-child {
  margin-left: 15px;
}

.news .news__box .news__wrapper .news__column .news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 22px 38px;
  margin-bottom: 24px;
}

.news .news__box .news__wrapper .news__column .news__item--lg {
  min-height: 318px;
}

.news .news__box .news__wrapper .news__column .news__item .dates {
  color: #eff2f0;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}

.news .news__box .news__wrapper .news__column .news__item .text {
  color: #eff2f0;
  font-weight: 400;
  font-family: "Myriad Pro";
  font-size: 16px;
  line-height: 24px;
}

.news .news__box .news__wrapper .news__column .news__item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news .news__box .news__wrapper .news__column .news__item-wrapper .news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 22px 10px;
  margin-bottom: 24px;
  min-height: 152px;
}

.news .news__box .news__wrapper .news__column .news__item-wrapper .news__item:first-child {
  margin-right: 13px;
}

.news .news__box .news__wrapper .news__column .news__item-wrapper .news__item:last-child {
  margin-left: 13px;
}

.news .news__box .news__wrapper .news__column .news__item-wrapper .news__item .dates {
  color: #eff2f0;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}

.news .news__box .news__wrapper .news__column .news__item-wrapper .news__item .text {
  color: #eff2f0;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}